
<ul class="nav nav-tabs tabs group pl-1" id="tab_clientes">
  <li class="nav-item active nav-tab-rounded">
    <a class="active my-0 py-2" data-toggle="tab" href="#tab_clientes_1">Datos Personales</a>
  </li>
  <li class="nav-item nav-tab-rounded">
    <a class="my-0 py-2" data-toggle="tab" href="#tab_clientes_2">Forma de Pago</a>
  </li>
  <li class="nav-item nav-tab-rounded">
    <a class="my-0 py-2" data-toggle="tab" href="#tab_clientes_3">Direcciones Alternativas</a>
  </li>
  <li class="nav-item nav-tab-rounded">
    <a class="my-0 py-2" data-toggle="tab" href="#tab_clientes_4">Persona de Contacto</a>
  </li>
  <li class="nav-item nav-tab-rounded">
    <a class="my-0 py-2" data-toggle="tab" href="#tab_clientes_5">Detracciones</a>
  </li>
  <li class="nav-item nav-tab-rounded">
    <a class="my-0 py-2" data-toggle="tab" href="#tab_clientes_6">Agencias</a>
  </li>
  <li class="nav-item nav-tab-rounded">
    <a class="my-0 py-2" data-toggle="tab" href="#tab_clientes_7">aval</a>
  </li>
  <li class="nav-item nav-tab-rounded">
    <a class="my-0 py-2" data-toggle="tab" href="#tab_clientes_8">Historial</a>
  </li>
  <li class="nav-item nav-tab-rounded">
    <a class="my-0 py-2" data-toggle="tab" href="#tab_clientes_9">Placas</a>
  </li>
  {{!-- <li class="nav-item nav-tab-rounded">
    <a class="my-0 py-2" data-toggle="tab" href="#tab_clientes_10">Códigos Alternativos</a>
  </li> --}}
</ul>

<div class="tab-content mr-3">

    <div class="tab-pane fade show active" id="tab_clientes_1">

        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-6">
                        <label for="tablas_clientes_codigo" class="col-form-label col-form-label-sm">Codigo:</label>
                    </div>
                    <div class="col-6">
                        <input type="text" id="tablas_clientes_codigo" class="form-control form-control-sm" value="{{datos.Codigo}}" placeholder="Codigo" maxlength="50">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="tablas_clientes_grupo_clientes" class="col-form-label col-form-label-sm">Grupo Cliente:</label>
                    </div>
                    <div class="col-6">
                        <select type="text" id="tablas_clientes_grupo_clientes" class="form-control form-control-sm">
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="tablas_clientes_tipo_cliente" class="col-form-label col-form-label-sm">Tipo Cliente:</label>
                    </div>
                    <div class="col-6">
                        <select type="text" id="tablas_clientes_tipo_cliente" class="form-control form-control-sm">
                            <option value="Juridico">Juridico</option>
                            <option value="Natural">Natural</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-12">
                        <div class="form-check form-check-inline m-0 p-0">
                            <input class="form-check-input" type="checkbox" id="tablas_clientes_editar">
                            <label class="form-check-label col-form-label-sm" for="tablas_clientes_editar">Editar nombre en Mov.</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="tablas_clientes_tipo_documento_identidad" class="col-form-label col-form-label-sm">Tipo Doc:</label>
                    </div>
                    <div class="col-8">
                        <select type="text" id="tablas_clientes_tipo_documento_identidad" class="form-control form-control-sm">
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="tablas_clientes_numero_ruc" class="col-form-label col-form-label-sm">Ruc:</label>
                    </div>
                    <div class="col-8">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" placeholder="RUC" id="tablas_clientes_numero_ruc" value="{{datos.Numero_Ruc}}">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-light btn-sm sm border"  data-toggle="tooltip" data-placement="top" title="Buscar">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-6">
                        <label for="tablas_clientes_codigo_interno" class="col-form-label col-form-label-sm">Cod. Interno:</label>
                    </div>
                    <div class="col-6">
                        <input type="text" id="tablas_clientes_codigo_interno" class="form-control form-control-sm" value="{{datos.Codigo_Interno}}" placeholder="Codigo Interno" maxlength="50">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="tablas_clientes_numero_documento" class="col-form-label col-form-label-sm">Número Doc:</label>
                    </div>
                    <div class="col-6">
                        <input type="text" id="tablas_clientes_numero_documento" class="form-control form-control-sm" value="{{datos.Numero_Doc}}" placeholder="Número Documento" maxlength="50">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="tablas_clientes_numero_dni" class="col-form-label col-form-label-sm">D.N.I.:</label>
                    </div>
                    <div class="col-6">
                        <input type="text" id="tablas_clientes_numero_dni" class="form-control form-control-sm" value="{{datos.Numero_DNI}}" placeholder="DNI" maxlength="50">
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <label for="tablas_clientes_nombre" class="col-form-label col-form-label-sm">Nombre:</label>
                    </div>
                    <div class="col-10">
                        <input type="text" id="tablas_clientes_nombre" class="form-control form-control-sm" value="{{datos.Nombre}}" placeholder="Nombre" maxlength="50">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <label for="tablas_clientes_nombre_comercial" class="col-form-label col-form-label-sm">Nombre Comercial:</label>
                    </div>
                    <div class="col-10">
                        <input type="text" id="tablas_clientes_nombre_comercial" class="form-control form-control-sm" value="{{datos.Nombre_Comercial}}" placeholder="Nombre Comercial" maxlength="50">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <label for="tablas_clientes_direccion" class="col-form-label col-form-label-sm">Dirección:</label>
                    </div>
                    <div class="col-10">
                        <input type="text" id="tablas_clientes_direccion" class="form-control form-control-sm" value="{{datos.Direccion}}" placeholder="Dirección" maxlength="50">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <label for="tablas_clientes_estado_contribuyente" class="col-form-label col-form-label-sm">Estado Contribuyente:</label>
                    </div>
                    <div class="col-4">
                        <input type="text" id="tablas_clientes_estado_contribuyente" class="form-control form-control-sm" value="{{datos.Estado_Contribuyente}}" placeholder="Estado" maxlength="50">
                    </div>
                    <div class="col-2">
                        <label for="tablas_clientes_condicion" class="col-form-label col-form-label-sm">Condición:</label>
                    </div>
                    <div class="col-4">
                        <input type="text" id="tablas_clientes_condicion" class="form-control form-control-sm" value="{{datos.Condicion_Contribuyente}}" placeholder="Condición" maxlength="50">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <label for="tablas_clientes_telefono1" class="col-form-label col-form-label-sm">Teléfono:</label>
                    </div>
                    <div class="col-4">
                        <input type="text" id="tablas_clientes_telefono1" class="form-control form-control-sm" value="{{datos.Telefono1}}" placeholder="Teléfono" maxlength="50">
                    </div>
                    <div class="col-2">
                        <label for="tablas_clientes_telefono2" class="col-form-label col-form-label-sm">Teléfono 2:</label>
                    </div>
                    <div class="col-4">
                        <input type="text" id="tablas_clientes_telefono2" class="form-control form-control-sm" value="{{datos.Telefono2}}" placeholder="Teléfono 2" maxlength="50">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <label for="tablas_clientes_telefono3" class="col-form-label col-form-label-sm">Teléfono 3:</label>
                    </div>
                    <div class="col-4">
                        <input type="text" id="tablas_clientes_telefono3" class="form-control form-control-sm" value="{{datos.Telefono3}}" placeholder="Teléfono 3" maxlength="50">
                    </div>
                    <div class="col-2">
                        <label for="tablas_clientes_telefono4" class="col-form-label col-form-label-sm">Teléfono 4:</label>
                    </div>
                    <div class="col-4">
                        <input type="text" id="tablas_clientes_telefono4" class="form-control form-control-sm" value="{{datos.Telefono4}}" placeholder="Teléfono 4" maxlength="50">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <label for="tablas_clientes_correo" class="col-form-label col-form-label-sm">Email:</label>
                    </div>
                    <div class="col-4">
                        <input type="text" id="tablas_clientes_correo" class="form-control form-control-sm" value="{{datos.Correo}}" placeholder="Teléfono 3" maxlength="50">
                    </div>
                    <div class="col-2">
                        <label for="tablas_clientes_fax" class="col-form-label col-form-label-sm">Fax:</label>
                    </div>
                    <div class="col-4">
                        <input type="text" id="tablas_clientes_fax" class="form-control form-control-sm" value="{{datos.Fax}}" placeholder="Teléfono 4" maxlength="50">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <label for="tablas_clientes_copy_mail" class="col-form-label col-form-label-sm">Copy Mail:</label>
                    </div>
                    <div class="col-4">
                        <textarea class="form-control form-control-sm" id="tablas_clientes_copy_mail" rows="3" placeholder="Copy Mail">{{datos.Correo_Copia}}</textarea>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4">
                                <label for="tablas_clientes_departamento" class="col-form-label col-form-label-sm">Depto:</label>
                            </div>
                            <div class="col-8">
                                <select type="text" id="tablas_clientes_departamento" class="form-control form-control-sm">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label for="tablas_clientes_distrito" class="col-form-label col-form-label-sm">Distrito:</label>
                            </div>
                            <div class="col-8">
                                <select type="text" id="tablas_clientes_distrito" class="form-control form-control-sm">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <label for="tablas_clientes_pais" class="col-form-label col-form-label-sm">País:</label>
                    </div>
                    <div class="col-4">
                        <select type="text" id="tablas_clientes_pais" class="form-control form-control-sm">
                        </select>
                    </div>
                    <div class="col-2">
                        <label for="tablas_clientes_rubro" class="col-form-label col-form-label-sm">Rubro:</label>
                    </div>
                    <div class="col-4">
                        <select type="text" id="tablas_clientes_rubro" class="form-control form-control-sm">
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <label for="tablas_clientes_ciudad" class="col-form-label col-form-label-sm">Ciudad:</label>
                    </div>
                    <div class="col-4">
                        <select type="text" id="tablas_clientes_ciudad" class="form-control form-control-sm">
                        </select>
                    </div>
                    <div class="col-2">
                        <label for="tablas_clientes_zona1" class="col-form-label col-form-label-sm">Zona 1:</label>
                    </div>
                    <div class="col-4">
                        <select type="text" id="tablas_clientes_zona1" class="form-control form-control-sm">
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <label for="tablas_clientes_vendedor" class="col-form-label col-form-label-sm">Vendedor:</label>
                    </div>
                    <div class="col-4">
                        <select type="text" id="tablas_clientes_vendedor" class="form-control form-control-sm">
                        </select>
                    </div>
                    <div class="col-2">
                        <label for="tablas_clientes_zona2" class="col-form-label col-form-label-sm">Zona 2:</label>
                    </div>
                    <div class="col-4">
                        <select type="text" id="tablas_clientes_zona2" class="form-control form-control-sm">
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <label for="tablas_clientes_situacion1" class="col-form-label col-form-label-sm">Situación 1:</label>
                    </div>
                    <div class="col-4">
                        <select type="text" id="tablas_clientes_situacion1" class="form-control form-control-sm">
                        </select>
                    </div>
                    <div class="col-2 pr-0">
                        <label for="tablas_clientes_afecto_bonificacion" class="col-form-label col-form-label-sm">Afecto a Bonificación:</label>
                    </div>
                    <div class="col-4">
                        <div class="form-check form-check-inline m-0 p-0">
                            <input class="form-check-input" type="radio" name="tablas_clientes_bonificacion" value="S" id ="tablas_clientes_bonificacion_si">
                            <label class="form-check-label col-form-label-sm" for="tablas_clientes_bonificacion_si">Si</label>
                        </div>
                        <div class="form-check form-check-inline m-0 p-0">
                            <input class="form-check-input" type="radio" name="tablas_clientes_bonificacion" value="N" id ="tablas_clientes_bonificacion_no">
                            <label class="form-check-label col-form-label-sm" for="tablas_clientes_bonificacion_no">No</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <label for="tablas_clientes_situacion2" class="col-form-label col-form-label-sm">Situación 2:</label>
                    </div>
                    <div class="col-4">
                        <select type="text" id="tablas_clientes_situacion2" class="form-control form-control-sm">
                        </select>
                    </div>
                    <div class="col-2">
                        <label for="tablas_clientes_percepcion" class="col-form-label col-form-label-sm">Percepción:</label>
                    </div>
                    <div class="col-2">
                        <div class="form-check form-check-inline m-0 p-0">
                            <input class="form-check-input" type="radio" name="tablas_clientes_percepcion" value="S" id="tablas_clientes_percepcion_si">
                            <label class="form-check-label col-form-label-sm" for="tablas_clientes_percepcion_si">Si</label>
                        </div>
                        <div class="form-check form-check-inline m-0 p-0">
                            <input class="form-check-input" type="radio" name="tablas_clientes_percepcion" value="N" id="tablas_clientes_percepcion_no">
                            <label class="form-check-label col-form-label-sm" for="tablas_clientes_percepcion_no">No</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group">
                            <input type="number" id ="tablas_clientes_percepcion_porcentaje" class="form-control form-control-sm text-right" value ="{{datos.Percepcion_Porcentaje}}">
                            <div class="input-group-append">
                                <span class="input-group-text form-control form-control-sm text-right">%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <label for="tablas_clientes_porcentaje_descuento" class="col-form-label col-form-label-sm">Descuento:</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <input type="number" id ="tablas_clientes_porcentaje_descuento" class="form-control form-control-sm text-right" value ="{{datos.Porcentaje_Descuento}}">
                            <div class="input-group-append">
                                <span class="input-group-text form-control form-control-sm text-right">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <label for="tablas_clientes_retencion" class="col-form-label col-form-label-sm">Retención:</label>
                    </div>
                    <div class="col-2">
                        <div class="form-check form-check-inline m-0 p-0">
                            <input class="form-check-input" type="radio" name="tablas_clientes_retencion" value="S" id="tablas_clientes_retencion_si">
                            <label class="form-check-label col-form-label-sm" for="tablas_clientes_retencion_si">Si</label>
                        </div>
                        <div class="form-check form-check-inline m-0 p-0">
                            <input class="form-check-input" type="radio" name="tablas_clientes_retencion" value="N" id="tablas_clientes_retencion_no">
                            <label class="form-check-label col-form-label-sm" for="tablas_clientes_retencion_no">No</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group">
                            <input type="number" id ="tablas_clientes_retencion_porcentaje" class="form-control form-control-sm text-right" value ="{{datos.Retencion_Porcentaje}}">
                            <div class="input-group-append">
                                <span class="input-group-text form-control form-control-sm text-right">%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <label for="tablas_clientes_credito_mn" class="col-form-label col-form-label-sm">Línea Crédito Mn:</label>
                    </div>
                    <div class="col-4">
                        <input type="number" id ="tablas_clientes_credito_mn" class="form-control form-control-sm text-right" value ="{{datos.Linea_Credito_MN}}">
                    </div>
                    <div class="col-2">
                        <label for="tablas_clientes_controlar_linea" class="col-form-label col-form-label-sm">Controlar Línea:</label>
                    </div>
                    <div class="col-2">
                        <div class="form-check form-check-inline m-0 p-0">
                            <input class="form-check-input" type="radio" name="tablas_clientes_controlar_linea" value="S" id="tablas_clientes_controlar_linea_si">
                            <label class="form-check-label col-form-label-sm" for="automatico">Si</label>
                        </div>
                        <div class="form-check form-check-inline m-0 p-0">
                            <input class="form-check-input" type="radio" name="tablas_clientes_controlar_linea" value="N" id="tablas_clientes_controlar_linea_no">
                            <label class="form-check-label col-form-label-sm" for="automatico">No</label>
                        </div>
                    </div>
                    <div class="col-2 pr-0">
                        <div class="form-check form-check-inline m-0 p-0">
                            <input class="form-check-input" type="checkbox" id="tablas_clientes_excluye_percepcion">
                            <label class="form-check-label col-form-label-sm" for="tablas_clientes_excluye_percepcion">Excluye Percepción</label>
                        </div>
                    </div> 
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <label for="tablas_clientes_credito_me" class="col-form-label col-form-label-sm">Línea Crédito Me:</label>
                    </div>
                    <div class="col-4">
                        <input type="number" id ="tablas_clientes_credito_me" class="form-control form-control-sm text-right" value ="{{datos.Linea_Credito_ME}}">
                    </div><div class="col-2">
                        <label for="tablas_clientes_buen_contribuyente" class="col-form-label col-form-label-sm">Buen Contribuyente:</label>
                    </div>
                    <div class="col-2">
                        <div class="form-check form-check-inline m-0 p-0">
                            <input class="form-check-input" type="radio" name="tablas_clientes_buen_contribuyente" value="S" id="tablas_clientes_buen_contribuyente_si">
                            <label class="form-check-label col-form-label-sm" for="tablas_clientes_buen_contribuyente_no">Si</label>
                        </div>
                        <div class="form-check form-check-inline m-0 p-0">
                            <input class="form-check-input" type="radio" name="tablas_clientes_buen_contribuyente" value="N" id="tablas_clientes_buen_contribuyente_no">
                            <label class="form-check-label col-form-label-sm" for="tablas_clientes_buen_contribuyente_no">No</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <label for="tablas_clientes_gestor" class="col-form-label col-form-label-sm">Gestor:</label>
                    </div>
                    <div class="col-4">
                        <select type="text" id="tablas_clientes_gestor" class="form-control form-control-sm">
                        </select>
                    </div>
                    <div class="col-2">
                        <label for="tablas_clientes_exonerado" class="col-form-label col-form-label-sm">Exonerado:</label>
                    </div>
                    <div class="col-4">
                        <div class="form-check form-check-inline m-0 p-0">
                            <input class="form-check-input" type="radio" name="tablas_clientes_exonerado" value="S" id="tablas_clientes_exonerado_si">
                            <label class="form-check-label col-form-label-sm" for="tablas_clientes_exonerado_si">Si</label>
                        </div>
                        <div class="form-check form-check-inline m-0 p-0">
                            <input class="form-check-input" type="radio" name="tablas_clientes_exonerado" value="N" id="tablas_clientes_exonerado_no">
                            <label class="form-check-label col-form-label-sm" for="tablas_clientes_exonerado_no">No</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <label for="tablas_clientes_estado" class="col-form-label col-form-label-sm">Estado:</label>
                    </div>
                    <div class="col-4">
                        <select type="text" id="tablas_clientes_estado" class="form-control form-control-sm">
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <label for="tablas_clientes_leyenda1" class="col-form-label col-form-label-sm">Leyenda 01:</label>
                    </div>
                    <div class="col-4">
                        <textarea class="form-control form-control-sm" id="tablas_clientes_leyenda1" rows="3" placeholder="Leyenda 1">{{datos.Observacion1}}</textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <label for="tablas_clientes_leyenda2" class="col-form-label col-form-label-sm">Leyenda 02:</label>
                    </div>
                    <div class="col-4">
                        <textarea class="form-control form-control-sm" id="tablas_clientes_leyenda2" rows="3" placeholder="Leyenda 2">{{datos.Observacion2}}</textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <label for="tablas_clientes_fecha_creacion" class="col-form-label col-form-label-sm">F. Creación:</label>
                    </div>
                    <div class="col-4">
                        <input type="date" id = "tablas_clientes_fecha_creacion" class="form-control form-control-sm" value="{{datos.Fecha_Creacion}}" disabled>
                    </div>
                    <div class="col-2">
                        <label for="tablas_clientes_fecha_modificacion" class="col-form-label col-form-label-sm">F. Modificación:</label>
                    </div>
                    <div class="col-4">
                        <input type="date" id = "tablas_clientes_fecha_modificacion" class="form-control form-control-sm" value="{{datos.Fecha_Modificacion}}" disabled>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <label for="tablas_clientes_lista_precios" class="col-form-label col-form-label-sm">Lista Precios:</label>
            </div>
            <div class="col-4">
                <form class="sm" id ="group_listas_precios">
                </form>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="tab_clientes_2">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-6">
                <table id="grid_tablas_clientes_forma_pago_elegidos"></table>
            </div>
            <div class="col-6">
                <table id="grid_tablas_clientes_forma_pago_lista"></table>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="tab_clientes_3">
        <table id="grid_tablas_clientes_direcciones_alternativas"></table>
    </div>

    <div class="tab-pane fade" id="tab_clientes_4">
        <table id="grid_tablas_clientes_persona_contacto"></table>
    </div>

    <div class="tab-pane fade" id="tab_clientes_5">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-6">
                <table id="grid_tablas_clientes_detracciones_elegidos"></table>
            </div>
            <div class="col-6">
                <table id="grid_tablas_clientes_detracciones_lista"></table>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="tab_clientes_6">
        <table id="grid_tablas_clientes_agencias"></table>
    </div>

    <div class="tab-pane fade" id="tab_clientes_7">
        <table id="grid_tablas_clientes_aval"></table>
    </div>

    <div class="tab-pane fade" id="tab_clientes_8">
        <table id="grid_tablas_clientes_historial"></table>
    </div>

    <div class="tab-pane fade" id="tab_clientes_9">
        <table id="grid_tablas_clientes_placas"></table>
    </div>

    {{!-- <div class="tab-pane fade" id="tab_clientes_10">
        <table id="grid_tablas_clientes_codigos_alternativos"></table>
    </div> --}}
</div>

<div class="d-none">

    {{#each lista}}
        <input type="text" id="tablas_clientes_lista_precios_{{Lista_Precios_Codigo}}_predeterminado" value="{{Lista_Precios_Activo}}">
    {{/each}}
    <input type="text" id="tablas_clientes_tipo_documento_identidad_predeterminado" value="{{datos.Tipo_Documento_Sunat}}">
    <input type="text" id="tablas_clientes_grupo_clientes_predeterminado" value="{{datos.Grupo_Cliente}}">
    <input type="text" id="tablas_clientes_tipo_cliente_predeterminado" value="{{datos.Tipo_Cliente}}">
    <input type="text" id="tablas_clientes_pais_predeterminado" value="{{datos.Codigo_Pais}}">
    <input type="text" id="tablas_clientes_departamento_predeterminado" value="{{datos.Codigo_Departamento}}">
    <input type="text" id="tablas_clientes_distrito_predeterminado" value="{{datos.Codigo_Distrito}}">
    <input type="text" id="tablas_clientes_ciudad_predeterminado" value="{{datos.Codigo_Ciudad}}">
    <input type="text" id="tablas_clientes_zona1_predeterminado" value="{{datos.Codigo_Zona1}}">
    <input type="text" id="tablas_clientes_zona2_predeterminado" value="{{datos.Codigo_Zona2}}">
    <input type="text" id="tablas_clientes_vendedor_predeterminado" value="{{datos.Codigo_Vendedor}}">
    <input type="text" id="tablas_clientes_situacion1_predeterminado" value="{{datos.Codigo_Situacion1}}">
    <input type="text" id="tablas_clientes_situacion2_predeterminado" value="{{datos.Codigo_Situacion2}}">
    <input type="text" id="tablas_clientes_rubro_predeterminado" value="{{datos.Codigo_Rubro}}">
    <input type="text" id="tablas_clientes_estado_predeterminado" value="{{datos.Estado}}">
    <input type="text" id="tablas_clientes_gestor_predeterminado" value="{{datos.Codigo_Gestor}}">

    <input type="text" id="tablas_clientes_editar_predeterminado" value="{{datos.Modificacion_Si_No}}">
    <input type="text" id="tablas_clientes_excluye_percepcion_predeterminado" value="{{datos.Excluye_Percepcion_Si_No}}">
    
    <input type="text" id="tablas_clientes_bonificacion_predeterminado" value="{{datos.Bonificacion_Si_No}}">
    <input type="text" id="tablas_clientes_percepcion_predeterminado" value="{{datos.Percepcion_Si_No}}">
    <input type="text" id="tablas_clientes_retencion_predeterminado" value="{{datos.Retencion_Si_No}}">
    <input type="text" id="tablas_clientes_buen_contribuyente_predeterminado" value="{{datos.Buen_Contribuyente_Si_No}}">
    <input type="text" id="tablas_clientes_controlar_linea_predeterminado" value="{{datos.Controlar_Linea_Si_No}}">
    <input type="text" id="tablas_clientes_exonerado_predeterminado" value="{{datos.Exonerado_Si_No}}">
    
    
    
    
</div>