<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="m-0 p-0">
                        <div class="form-group row my-05 py-05">
                            <label for="tablas_grupo_auxiliar_codigo" class="col-sm-4 col-form-label col-form-label-sm">Código:</label>
                            <input type="text" id="tablas_grupo_auxiliar_codigo" class="col-sm-8 form-control form-control-sm m-0 p-0" value="{{datos.Codigo}}"value="{{datos.Codigo}}" placeholder="Códgo" maxlength="3">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="m-0 p-0">
                        <div class="form-group row my-05 py-05">
                            <label for="tablas_grupo_auxiliar_nombre" class="col-sm-2 col-form-label col-form-label-sm">Nombre:</label>
                            <input type="text" id="tablas_grupo_auxiliar_nombre" class="col-sm-10 form-control form-control-sm m-0 p-0"value="{{datos.Nombre}}" placeholder="Nombre" maxlength="50">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="m-0 p-0">
                        <div class="form-group row my-05 py-05">
                            <label for="tablas_grupo_auxiliar_tipo_auxiliar" class="col-sm-4 col-form-label col-form-label-sm">Tipo Auxiliar:</label>
                            <select type="text" id="tablas_grupo_auxiliar_tipo_auxiliar" class="col-sm-8 form-control form-control-sm m-0 p-0"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <table id="grid_tablas_grupo_auxiliar_cuentas"></table>
            </div>
        </div>
    </div>
</div>

<div class="d-none">
    {{#if datos}}
        <input type="text" id="tablas_grupo_auxiliar_tipo_auxiliar_predeterminado" value="{{datos.Tipo}}">
    {{else}}
        <input type="text" id="tablas_grupo_auxiliar_tipo_auxiliar_predeterminado" value="00">
    {{/if}}
</div>