<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <form class="m-0 p-0">
                        <div class="form-group row my-05 py-05">
                            <label for="tablas_grupo_proveedor_codigo" class="col-sm-4 col-form-label col-form-label-sm">Código:</label>
                            <input type="text" id="tablas_grupo_proveedor_codigo" class="col-sm-8 form-control form-control-sm m-0 p-0" value="{{datos.Codigo}}"value="{{datos.Codigo}}" placeholder="Códgo" maxlength="3">
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form class="m-0 p-0">
                        <div class="form-group row my-05 py-05">
                            <label for="tablas_grupo_proveedor_nombre" class="col-sm-2 col-form-label col-form-label-sm">Nombre:</label>
                            <input type="text" id="tablas_grupo_proveedor_nombre" class="col-sm-10 form-control form-control-sm m-0 p-0"value="{{datos.Nombre}}" placeholder="Nombre" maxlength="50">
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <table id="grid_tablas_grupo_proveedor_cuentas"></table>
            </div>
        </div>
    </div>
</div>

<div class="d-none">
    {{#if datos}}
        <input type="text" id="tablas_grupo_proveedor_usuario_predeterminado" value="{{datos.Usuario}}">
        <input type="text" id="tablas_grupo_proveedor_predeterminado_predeterminado" value="{{datos.Predeterminado}}">
    {{else}}
        <input type="text" id="tablas_grupo_proveedor_usuario_predeterminado" value="">
        <input type="text" id="tablas_grupo_proveedor_predeterminado_predeterminado" value="0">
    {{/if}}
</div>