<div class="container-fluid pl-0">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="m-0 p-0">
                        <div class="form-group row my-05 py-05">
                            <label for="tablas_subfamilias_codigo" class="col-sm-2 col-form-label col-form-label-sm">Codigo:</label>
                            <input type="text" id="tablas_subfamilias_codigo" class="col-sm-10 form-control form-control-sm m-0 p-0"value="{{datos.Codigo}}" placeholder="Codigo" maxlength="50">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="m-0 p-0">
                        <div class="form-group row my-05 py-05">
                            <label for="tablas_subfamilias_abreviatura" class="col-sm-3 col-form-label col-form-label-sm">Abreviatura:</label>
                            <input type="text" id="tablas_subfamilias_abreviatura" class="col-sm-9 form-control form-control-sm m-0 p-0"value="{{datos.Abreviatura}}" placeholder="Abreviatura" maxlength="5">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="m-0 p-0">
                        <div class="form-group row my-05 py-05">
                            <label for="tablas_subfamilias_nombre" class="col-sm-1 col-form-label col-form-label-sm">Nombre:</label>
                            <input type="text" id="tablas_subfamilias_nombre" class="col-sm-11 form-control form-control-sm m-0 p-0"value="{{datos.Nombre}}" placeholder="Nombre" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 pr-0">
                    <label for="tablas_subfamilias_afecta_aberviatura_si" class="col-form-label col-form-label-sm">La Abreviatura afecta al Nombre:</label>
                </div>
                <div class="col-sm-8 pl-0">
                    <div class="form-check form-check-inline m-0 p-0">
                        <input class="form-check-input" type="radio" name="tablas_subfamilias_afecta_aberviatura" value="S" id ="tablas_subfamilias_afecta_aberviatura_si">
                        <label class="form-check-label col-form-label-sm" for="tablas_subfamilias_afecta_aberviatura_si">Si</label>
                    </div>
                    <div class="form-check form-check-inline m-0 p-0">
                        <input class="form-check-input" type="radio" name="tablas_subfamilias_afecta_aberviatura" value="N" id ="tablas_subfamilias_afecta_aberviatura_no">
                        <label class="form-check-label col-form-label-sm" for="tablas_subfamilias_afecta_aberviatura_no">No</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-none">
    {{#if datos}}
        <input type="text" id="tablas_subfamilias_afecta_aberviatura_predeterminado" value="{{datos.Afecta_Nombre}}">
    {{else}}
        <input type="text" id="tablas_subfamilias_afecta_aberviatura_predeterminado" value="{{datos.Afecta_Nombre}}">
    {{/if}}
</div>