<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <form class="m-0 p-0">
                        <div class="form-group row my-05 py-05">
                            <label for="tablas_transportista_codigo" class="col-sm-4 col-form-label col-form-label-sm">Codigo:</label>
                            <input type="text" id="tablas_transportista_codigo" class="col-sm-8 form-control form-control-sm m-0 p-0"value="{{datos.Codigo}}" placeholder="Codigo" maxlength="50">
                        </div>
                    </form>
                </div>
                <div class="col-sm-2">

                </div>
                 <div class="col-sm-2">
                     <form class="m-0 p-0">
                        <div class="form-check row my-05 py-05">
                            <input class="form-check-input" type="checkbox" id="tablas_transportista_privado" >
                            <label class="form-check-label col-form-label-sm" for="tablas_transportista_privado">Privado</label>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2">
                    <form class="m-0 p-0">
                        <div class="form-check row my-05 py-05">
                            <input class="form-check-input" type="checkbox" id="tablas_transportista_predeterminado" >
                            <label class="form-check-label col-form-label-sm" for="tablas_transportista_predeterminado">Predeterminado</label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form class="m-0 p-0">
                        <div class="form-group row my-05 py-05">
                            <label for="tablas_transportista_nombre" class="col-sm-2 col-form-label col-form-label-sm">Nombre:</label>
                            <input type="text" id="tablas_transportista_nombre" class="col-sm-10 form-control form-control-sm m-0 p-0"value="{{datos.Nombre}}" placeholder="Nombre" >
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <form class="m-0 p-0">
                        <div class="form-group row my-05 py-05">
                            <label for="tablas_transportista_tipo_documento" class="col-sm-4 col-form-label col-form-label-sm">Tipo Documento:</label>
                            <select id="tablas_transportista_tipo_documento" class="col-sm-8 form-control form-control-sm m-0 p-0 " >
                                <option>Ninguno</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                    <form class="m-0 p-0">
                        <div class="form-group row my-05 py-05">
                            <label for="tablas_transportista_ruc" class="col-sm-4 col-form-label col-form-label-sm">Ruc:</label>
                            <input type="text" id="tablas_transportista_ruc" class="col-sm-8 form-control form-control-sm m-0 p-0" value="{{datos.Ruc}}" placeholder="Ruc">
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form class="m-0 p-0">
                        <div class="form-group row my-05 py-05">
                            <label for="tablas_transportista_direccion" class="col-sm-2 col-form-label col-form-label-sm">Direccion:</label>
                            <input type="text" id="tablas_transportista_direccion" class="col-sm-10 form-control form-control-sm m-0 p-0"value="{{datos.Direccion}}" placeholder="Direccion" >
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form class="m-0 p-0">
                        <div class="form-group row my-05 py-05">
                            <label for="tablas_transportista_razon_social" class="col-sm-2 col-form-label col-form-label-sm">Razon Social:</label>
                            <input type="text" id="tablas_transportista_razon_social" class="col-sm-10 form-control form-control-sm m-0 p-0"value="{{datos.Razon_Social}}" placeholder="Razon Social" >
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <form class="m-0 p-0">
                        <div class="form-group row my-05 py-05">
                            <label for="tablas_transportista_licencia" class="col-sm-4 col-form-label col-form-label-sm">Licencia</label>
                            <input type="text" id="tablas_transportista_licencia" class="col-sm-8 form-control form-control-sm m-0 p-0" value="{{datos.Licencia}}" placeholder="Licencia" maxlength="50">
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                    <form class="m-0 p-0">
                        <div class="form-group row my-05 py-05">
                            <label for="tablas_transportista_vehiculo" class="col-sm-4 col-form-label col-form-label-sm">Vehiculo:</label>
                            <select id="tablas_transportista_vehiculo" class="col-sm-8 form-control form-control-sm m-0 p-0 " >
                                <option>Ninguno</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <form class="m-0 p-0">
                        <div class="form-group row my-05 py-05">
                            <label for="tablas_transportista_telefono1" class="col-sm-4 col-form-label col-form-label-sm">Telefono:</label>
                            <input type="text" id="tablas_transportista_telefono1" class="col-sm-8 form-control form-control-sm m-0 p-0" value="{{datos.Telefono}}" placeholder="Telefono" maxlength="50">
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                    <form class="m-0 p-0">
                        <div class="form-group row my-05 py-05">
                            <label for="tablas_transportista_fax" class="col-sm-4 col-form-label col-form-label-sm">Fax:</label>
                            <input type="text" id="tablas_transportista_fax" class="col-sm-8 form-control form-control-sm m-0 p-0" value="{{datos.Fax}}"placeholder="Fax" >
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <form class="m-0 p-0">
                        <div class="form-group row my-05 py-05">
                            <label for="tablas_transportista_contacto" class="col-sm-4 col-form-label col-form-label-sm">Contacto:</label>
                            <input type="text" id="tablas_transportista_contacto" class="col-sm-8 form-control form-control-sm m-0 p-0" value="{{datos.Contacto}}"  placeholder="Contacto">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-none">
    {{#if datos}}
        <input id="tablas_transportista_tipo_documento_predeterminado" type="text" value="{{datos.Tipo_Documento}}">
        <input id="tablas_transportista_vehiculo_predeterminado" type="text" value="{{datos.Vehiculo}}">
        <input id="tablas_transportista_privado_predeterminado" type="text" value="{{datos.Privado}}">
        <input id="tablas_transportista_predeterminado_predeterminado" type="text" value="{{datos.Predeterminado}}">
    {{else}}
        <input id="tablas_transportista_tipo_documento_predeterminado" type="text" value="01">
        <input id="tablas_transportista_vehiculo_predeterminado" type="text" value="00">
        <input id="tablas_transportista_privado_predeterminado" type="text" value="N">
        <input id="tablas_transportista_predeterminado_predeterminado" type="text" value="0">
    {{/if}}
</div>