
{{#if user}}
<ul class="nav nav-tabs tabs group pl-4 d-print-none" id="myTab" role="tablist">
  <li class="nav-item active nav-tab-rounded">
    <a class="active my-0 py-2" data-toggle="tab" href="#generales">Datos Generales</a>
  </li>
  <li class="nav-item nav-tab-rounded">
    <a class="my-0 py-2" data-toggle="tab" href="#profile">Datos Complementarios</a>
  </li>
</ul>

<div class="tab-content mr-3 d-print-none" id="myTabContent">
    <div class="tab-pane fade show active" id="generales" role="tabpanel" aria-labelledby="generales-tab">
        <div class="container-fluid border">
            <div class="row border">
                <div class="col-lg-5 border">
                    <div class="row my-1">
                        <div class="col-xl-6">
                            <div class="input-group">
                                <select class="form-control form-control-sm" id="tipo">
                                    <option value="GUIA DIRECTA">Guía Directa</option>
                                    <option value="GUIA DE ORDEN DE COMPRA">Guía de Orden de Compra</option>
                                </select>
                                <div class="input-group-prepend">
                                    <button type="button" class="form-control form-control-sm btn btn-light btn-sm sm pt-0" id ="buscar_pendientes" data-toggle="tooltip" data-placement="top" title="Buscar">
                                        <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text col-form-label col-form-label-sm py-0 background-title-jqgrid" for="pto_venta">Punto:Venta</label>
                                </div>
                                <select class="form-control form-control-sm" id="pto_venta"><option value="{{user.codigo_punto_venta}}">{{user.codigo_punto_venta}} - {{user.nombre_punto_venta}}</option></select>
                            </div>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-sm-6">
                            <input type="text" id="codigo_proveedor" class="form-control form-control-sm c_mantenimientos" placeholder="Código del Proveedor">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" id="ruc_proveedor" class="form-control form-control-sm" placeholder="RUC del Proveedor">
                        </div>
                        <div class="col-sm-6 d-none">
                            <input type="text" id="telefono_proveedor" class="form-control form-control-sm" placeholder="Teléfono del Proveedor">
                        </div>
                        {{!-- <div class="col-sm-5">
                            <input type="text" id="ruc_proveedor" class="form-control form-control-sm" placeholder="RUC del Proveedor">
                        </div> --}}
                    </div>
                    <div class="row my-1">
                        <div class="col-sm-12">
                            <input type="text" id="nombre_proveedor" class="form-control form-control-sm" placeholder="Nombre del Proveedor">
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-sm-12">
                            <input type="text" id="direccion_proveedor" class="form-control form-control-sm" placeholder="Dirección del Proveedor">
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-sm-12">
                            <select class="form-control form-control-sm c_mantenimientos" id="responsable">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 border">
                    <div class="row my-1">
                        <div class="col-sm-12">
                            <div class="input-group form-control-sm-group-serie" style=" padding-right: 2.9px;">
                                <label class="sm input-group-text py-0 border-right-0" for="fecha_doc" style="background:#e9ecef;border-top-right-radius:0px;border-bottom-right-radius:0px">Fecha:</label>
                                <input type="date" id = "fecha_doc" class="form-control form-control-sm no-calendar border-left-0 pl-0" style=";border-top-left-radius:0px;border-bottom-left-radius:0px">
                                <div class="form-check form-check-inline  form-control-sm-erp ml-4">
                                    <input class="form-check-input" type="radio" name="correlativo" id="automatico" value="automatico">
                                    <label class="form-check-label col-form-label-sm" for="automatico">Automático</label>
                                </div>
                                <div class="form-check form-check-inline  form-control-sm-erp">
                                    <input class="form-check-input" type="radio" name="correlativo" id="manual" value="manual">
                                    <label class="form-check-label col-form-label-sm" for="manual">Manual</label>
                                </div>
                                <select class="form-control form-control-sm mr-4 form-control-sm-serie" id="serie">
                                </select>
                                <input type="text" id="numero_correlativo" class="form-control form-control-sm text-right px-4" placeholder="Número">
                            </div>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-sm-5">
                            <div class="input-group form-control-sm-erp form-control-sm-group-moneda">
                                <select class="form-control form-control-sm form-control-sm-moneda no-spin" id="moneda">
                                </select>
                                <select class=" form-control form-control-sm " id="tipo_cambio">
                                </select>
                                <input type="number" class="form-control form-control-sm text-right no-spin-number form-control-sm-tasa-cambio" id="tasa_cambio">
                            </div>
                        </div>
                        <div class="col-sm-7 pl-0">
                            <select class="form-control form-control-sm c_mantenimientos" id="forma_pago">
                                <option value="00">Forma de Pago</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-sm-4">
                            <select class="form-control form-control-sm c_mantenimientos" id="unidad_negocio">
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control form-control-sm c_mantenimientos" id="centro_costos">
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control form-control-sm c_mantenimientos" id="orden_trabajo">
                            </select>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-4">
                            <div class="input-group">
                                <div class="input-group-pretend">
                                    <label for="tipo_guia" class="input-group-text form-control form-control-sm ">G.R.  :</label>
                                </div>
                                <select class="form-control form-control-sm c_mantenimientos " id="tipo_guia" tabla="tipo_documento">
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group">
                                <input type="text" id = "serie_guia_remision" class="col-4 form-control form-control-sm  c_mayus" placeholder="Serie">
                                <input type="text" id = "numero_guia_remision" class="form-control form-control-sm " placeholder="Número">
                            </div>
                        </div>
                        <div class="col-4">
                            <input type="date" id = "fecha_emision" class="form-control form-control-sm " >
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-4">
                            <div class="input-group">
                                <div class="input-group-pretend">
                                    <label for="tipo_factura" class="input-group-text form-control form-control-sm ">Fac.  :</label>
                                </div>
                                <select class="form-control form-control-sm c_mantenimientos " id="tipo_factura">
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group">
                                <input type="text" id = "serie_factura" class="col-4 form-control form-control-sm  c_mayus" placeholder="Serie">
                                <input type="text" id = "numero_factura" class="form-control form-control-sm " placeholder="Número">
                            </div>
                        </div>
                        <div class="col-sm-4 mx-0">
                            <select class="form-control form-control-sm c_mantenimientos" id="motivo_documento">
                            </select>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-sm-12">
                            <input type="text" id="glosa" class="form-control form-control-sm" placeholder="Glosa">
                        </div>
                    </div>
                    <div class="row my-1">
                    </div>
                </div>
                <div class="col-lg-2 border">
                    <div class="row my-1">
                        <div class="col-xl-5 form-control-sm-erp">
                            <label for="base_calculada" class="col-form-label col-form-label-sm">Base Calc.:</label>
                        </div>
                        <div class="col-xl-7">
                            <input type="text" id = "base_calculada_mask" class="form-control form-control-sm  text-right" value ="0.00" disabled>
                        </div>
                        <div class="col-xl-7 d-none">
                            <input type="number" id = "base_calculada" class="form-control form-control-sm text-right">
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-xl-5 form-control-sm-erp">
                            <label for="monto_descuento" class="col-form-label col-form-label-sm">Dsct.:</label>
                        </div>
                        <div class="col-xl-7">
                            <input type="text" id = "monto_descuento_mask" class="form-control form-control-sm  text-right" value ="0.00" disabled>
                        </div>
                        <div class="col-xl-7 d-none">
                            <input type="number" id = "monto_descuento" class="form-control form-control-sm  text-right">
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-xl-5 form-control-sm-erp">
                            <label for="subtotal" class="col-form-label col-form-label-sm">Base Imp.:</label>
                        </div>
                        <div class="col-xl-7">
                            <input type="text" id = "subtotal_mask" class="form-control form-control-sm  text-right" value ="0.00" disabled>
                        </div>
                        <div class="col-xl-7 d-none">
                            <input type="number" id = "subtotal" class="form-control form-control-sm  text-right">
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-xl-5 form-control-sm-erp">
                            <label for="igv" class="col-form-label col-form-label-sm">IGV:</label>
                        </div>
                        <div class="col-xl-7">
                            <input type="text" id = "igv_mask" class="form-control form-control-sm  text-right" value ="0.00" disabled>
                        </div>
                        <div class="col-xl-7 d-none">
                            <input type="number" id = "igv" class="form-control form-control-sm  text-right">
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-xl-5 form-control-sm-erp">
                            <label for="total" class="col-form-label col-form-label-sm">Total:</label>
                        </div>
                        <div class="col-xl-7">
                            <input type="text" id = "total_mask" class="form-control form-control-sm  text-right" value ="0.00" disabled>
                        </div>
                        <div class="col-xl-7 d-none">
                            <input type="number" id = "total" class="form-control form-control-sm  text-right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="container-fluid border">
            <div class="row border">
                <div class="col-sm-6 border">
                    <div class="row my-1">
                        <div class="col-12">
                            <select class="form-control form-control-sm c_mantenimientos" id="agencia_proveedor">
                                <option value="00">Agencia del Proveedor</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-12">
                            <input type="text" id="numero_expediente" class="form-control form-control-sm" placeholder="Numero Expediente">
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-10">
                            <input type="text" id="numero_expediente_2" class="form-control form-control-sm" placeholder="Numero Expediente 2">
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text form-control form-control-sm text-right" for="porc_descuento">Dsct.:</label>
                                </div>
                                <input type="number" id ="porc_descuento" class="form-control form-control-sm text-right" value ="0">
                                <div class="input-group-append">
                                    <span class="input-group-text form-control form-control-sm text-right">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-6">
                            <select class="form-control form-control-sm c_mantenimientos" id="contacto_proveedor">
                                <option value="00">Contacto del Proveedor</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" id="email_proveedor" class="form-control form-control-sm" placeholder="E-mail">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 border"> 
                    <div class="row my-1">
                        <div class="col-2">
                            <label for="tipo_referencia" class="col-form-label col-form-label-sm">Tipo Ref.:</label>
                        </div>
                        <div class="col-2">
                            <select class="form-control form-control-sm c_mantenimientos" id="tipo_referencia">
                                <option value="00">Ninguno</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <input type="text" id="serie_referencia" class="form-control form-control-sm c_mayus" placeholder="Serie Referencia">
                        </div>
                        <div class="col-4">
                            <input type="text" id="numero_referencia" class="form-control form-control-sm" placeholder="Numero Referencia">
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-2">
                            <label for="tipo_referencia_02" class="col-form-label col-form-label-sm">Tipo Ref:</label>
                        </div>
                        <div class="col-2">
                            <select class="form-control form-control-sm c_mantenimientos" id="tipo_referencia_02">
                                <option value="00">Ninguno</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <input type="text" id="motivo_referencia" class="form-control form-control-sm" placeholder="Motivo Referencia">
                        </div>
                        <div class="col-4">
                            <input type="text" id="numero_requerimiento" class="form-control form-control-sm" placeholder="Numero Requerimiento">
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-none">
    <input id="user-Ventas_Mas_Igv" type="text" value="{{user.ventas_mas_igv}}">
    <input id="user-Unidad_negocio" type="text" value="{{user.codigo_unidad_negocio}}">
    <input id="user-codigo_centro_costos" type="text" value="{{user.codigo_centro_costos}}">
    <input id="user-codigo_punto_venta" type="text" value="{{user.codigo_punto_venta}}">
    <input id="user-codigo_ninguno" type="text" value="00">
    <input id="user-predeterminado_documento" type="text" value="01">
    <input id="user-predeterminado_guia" type="text" value="09">
    <input id="user-Busqueda_Punto_Venta" type="text" value="{{user.globales_busqueda_pto_venta}}">
    <input id="modulo_formatos" type="text" value="guia_entrada">
    
    <input class="form-check-input" type="checkbox" id="mas_igv">
</div>


{{> mantenimientos/ventas_pendientes}}
{{> mantenimientos/lista_mantenimientos}}
{{> mantenimientos/detalle_ventas}}
{{> mantenimientos/documentos_listas}}
{{> mantenimientos/formato_impresion}}

<script src="/js/mantenimientos/cabecera_ventas.js"></script>
<script src="/js/modulos/almacen/guia_entrada.js"></script>
{{/if}}
